<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> [%d{yyyy-MM-dd HH:mm:ss.SSS}] :: [%-5level] :: %logger{36}.%M.%line :: %msg%n </pattern>
        </encoder>		
    </appender>

    <!-- comment the below logstash section when deploying on bluemix-->

    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination></destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />  
                <context />
                <version /> 
                <logLevel />
                <loggerName />

                <pattern>
                    <pattern>
                        {
                        "servicename": "dmb2"
                        }
                    </pattern>					
                </pattern>

                <threadName />
                <message />
                <logstashMarkers />
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <!-- You can include custom MDC variables in below file logging by using [%mdc{<mdc_var_name>}] in Pattern-->
    
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
         <file>/tmp/dmb2.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>dmb2-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] :: [%-5level] :: %logger{36}.%M.%line :: %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING" />
        <appender-ref ref="STASH" />
    </root>
</configuration>
